.advantage {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 80px 20px 318px 20px;
  background-color: #f2f2f2;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center 506px;
  background-size: 157px auto;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .advantage {
    background-image: url("../img/iphone-screen-mobile@2x.png");
  }
}

.advantage__title {
  margin: 0;
  margin-bottom: 12px;
}

.advantage__text {
  .indents-none;
  font-weight: normal;
}

.advantage__list {
  .list-none;
}

.advantage__item {
  &:not(:last-child) {
    margin-bottom: 31px;
  }
}

@media @tablet {
  .advantage {
    display: flex;
    justify-content: space-between;
    padding-top: 88px;
    padding-bottom: 0;
    padding-left: 330px;
    background: url("../img/iphone-screen-3-tablet@1x.png") 24px 17px;
    background-size: 268px auto;
    background-repeat: no-repeat;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .advantage {
      background: url("../img/iphone-screen-3-tablet@2x.png") 24px 17px;
      background-size: 268px auto;
      background-repeat: no-repeat;
    }
  }

  .advantage__list {
    order: 2;
    width: 310px;
    padding-bottom: 42px;
    text-align: left;
  }

  .advantage__item {
    &:not(:last-child) {
      margin-bottom: 34px;
    }
  }
}

@media @desktop {
  .advantage {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    background: none;
    background-color: #f2f2f2;
  }

  .advantage::after {
    display: none;
  }

  .advantage__list {
    display: flex;
    width: 940px;
    justify-content: space-between;
  }

  .advantage__item {
    width: 313px;
    padding-top: 359px;
    text-align: center;
  }

  .advantage__item {
    &:nth-child(1) {
      background: url("../img/iphone-screen-1-desktop@1x.png") center 0 no-repeat;
    }

    &:nth-child(2) {
      background: url("../img/iphone-screen-2-desktop@1x.png") center 0 no-repeat;
    }

    &:nth-child(3) {
      background: url("../img/iphone-screen-3-desktop@1x.png") center 0 no-repeat;
    }
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .advantage__item {
      &:nth-child(1) {
        background: url("../img/iphone-screen-1-desktop@2x.png") center 0 no-repeat;
        background-size: 292px auto;
      }

      &:nth-child(2) {
        background: url("../img/iphone-screen-2-desktop@2x.png") center 0 no-repeat;
        background-size: 292px auto;
      }

      &:nth-child(3) {
        background: url("../img/iphone-screen-3-desktop@2x.png") center 0 no-repeat;
        background-size: 292px auto;
      }
    }
  }

  .advantage__title {
    margin: 0 auto;
    margin-bottom: 24px;
  }

  .advantage__text {
    margin: 0 auto;
    font-size: 18px;
    line-height: 30px;
  }

  .advantage__item:nth-child(1) {
    .advantage__title {
      width: 190px;
    }

    .advantage__text {
      width: 244px;
    }
  }

  .advantage__item:nth-child(2) {
    .advantage__title {
      width: 200px;
    }

    .advantage__text {
      width: 228px;
    }
  }

  .advantage__item:nth-child(3) {
    .advantage__title {
      width: 230px;
    }

    .advantage__text {
      width: 236px;
    }
  }
}
