.advantage {
  background-color: #f2f2f2;
  &__list {
    .list-none;
  }
  &__item {
    font-weight: normal;
  }
  &::after {
    content: '';
    display: block;
    background-image: url(../img/iphone-screen-mobile@1x.png);
    background-repeat: no-repeat;
    width: 320px;
    height: 277px;
  }
}
