.advantage {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 80px 20px 318px 20px;
  background: url("../img/bg-triangle-white.svg") center top no-repeat, url("../img/iphone-screen-mobile@1x.png") center 506px no-repeat;
  background-size: 320px auto, 157px auto;
  background-color: #f2f2f2;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .advantage {
    background: url("../img/bg-triangle-white.svg") center top no-repeat, url("../img/iphone-screen-mobile@2x.png") center 506px no-repeat;
    background-size: 320px auto, 157px auto;
    background-color: #f2f2f2;
  }
}

.advantage__title {
  margin: 0;
  margin-bottom: 12px;
}

.advantage__text {
  .indents-none;
  font-weight: normal;
}

.advantage__list {
  .list-none;
}

.advantage__item {
  padding-left: 10px;

  &:not(:last-child) {
    margin-bottom: 31px;
  }
}

@media @tablet {
  .advantage {
    display: flex;
    justify-content: space-between;
    padding-top: 88px;
    padding-bottom: 0;
    padding-left: 330px;
    background: url("../img/iphone-screen-3-tablet@1x.png") 20px 17px no-repeat, url("../img/bg-triangle-white.svg") -10px top no-repeat;
    background-size: 268px auto, 660px auto;
    background-color: #f2f2f2;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .advantage {
      background: url("../img/iphone-screen-3-tablet@2x.png") 20px 17px no-repeat, url("../img/bg-triangle-white.svg") -10px top no-repeat;
      background-size: 268px auto, 660px auto;
      background-color: #f2f2f2;
    }
  }

  .advantage__list {
    order: 2;
    width: 310px;
    padding-bottom: 42px;
    text-align: left;
  }

  .advantage__item {
    padding-left: 0;

    &:not(:last-child) {
      margin-bottom: 34px;
    }
  }
}

@media @desktop {
  .advantage {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    background: url("../img/bg-triangle-white.svg") -10px top no-repeat;
    background-size: 1200px auto;
    background-color: #f2f2f2;
  }

  .advantage::after {
    display: none;
  }

  .advantage__list {
    display: flex;
    width: 960px;
    margin: 0 auto;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    justify-content: space-between;
  }

  .advantage__item {
    width: 313px;
    padding-top: 359px;
    text-align: center;

    &:nth-child(1) {
      background: url("../img/iphone-screen-1-desktop@1x.png") center 0 no-repeat;

      .advantage__title {
        width: 190px;
      }

      .advantage__text {
        width: 244px;
      }
    }

    &:nth-child(2) {
      background: url("../img/iphone-screen-2-desktop@1x.png") center 0 no-repeat;

      .advantage__title {
        width: 200px;
      }

      .advantage__text {
        width: 228px;
      }
    }

    &:nth-child(3) {
      background: url("../img/iphone-screen-3-desktop@1x.png") center 0 no-repeat;

      .advantage__title {
        width: 230px;
      }

      .advantage__text {
        width: 236px;
      }
    }
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .advantage__item {
      &:nth-child(1) {
        background: url("../img/iphone-screen-1-desktop@2x.png") center 0 no-repeat;
        background-size: 292px auto;
      }

      &:nth-child(2) {
        background: url("../img/iphone-screen-2-desktop@2x.png") center 0 no-repeat;
        background-size: 292px auto;
      }

      &:nth-child(3) {
        background: url("../img/iphone-screen-3-desktop@2x.png") center 0 no-repeat;
        background-size: 292px auto;
      }
    }
  }

  .advantage__title {
    margin: 0 auto;
    margin-bottom: 24px;
  }

  .advantage__text {
    margin: 0 auto;
    font-size: 18px;
    line-height: 30px;
  }
}
