.application {
  padding-left: 19px;
  padding-right: 19px;
  &__header {
    color: #ffffff;
    .visually-hidden
  }
  &__list {
    .list-none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 28px;
  }
  &__description {
    color: #ffffff;
  }
  &__download {
    display: block;
    margin-top: 28px;
    margin-bottom: 32px;
  }
}
