.contacts {
  padding-top: 50px;
  padding-right: 20px;
  padding-bottom: 21px;
  padding-left: 20px;
}

.contacts__item:not(:last-child) {
  margin-bottom: 27px;
}

.contacts__list {
  .list-none;
}

.contacts__name {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.contacts__text {
  font-size: 24px;
  color: #d22856;
}

.contacts__title {
  margin-bottom: 40px;
}
