.contacts {
  padding: 50px 20px 21px 20px;
  &__item:not(:last-child) {
    margin-bottom: 27px;
  }
  &__list {
    .list-none;
  }
  &__name {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  &__text {
    font-size: 24px;
    color: #d22856;
  }
  &__title {
    margin-bottom: 40px;
  }
}
