.editor__list-edit {
  .list-none;
}

.editor__post {
  color: #d22856;
  background-color: #ffffff;
  border-color: #d22856;
}

.editor__annulment {
  color: #dddfe0;
  background-color: #ffffff;
  border-color: #dddfe0;
}
