.editor__list-edit {
  .list-none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 198px;
  margin: 0 auto;
  padding-top: 42px;
}

.editor__annulment {
  color: #dddfe0;
  background-color: #ffffff;
  border-color: #dddfe0;
}

.editor__container form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.editor__image {
  margin: 0 auto;
}

.editor__container {
  padding-top: 20px;
  padding-bottom: 42px;
  background-color: #f2f2f2;
}

.editor__post-container {
  display: flex;
  flex-wrap: wrap;
}

.editor__button-link {
  margin: 0 auto;
}

.editor__post {
  margin-bottom: 14px;
  color: #d22856;
  background-color: #ffffff;
  border-color: #d22856;
}

.editor__post,
.editor__annulment {
  width: 280px;
}

.editor__scale {
  margin-top: 27px;
  margin-bottom: 74px;
}

.editor__range-toggle {
  width: 240px;
  height: 2px;
  margin: 0 auto;
  background: black;
}

@media @tablet {
  .editor__container {
    padding: 57px 20px 54px 20px;
  }

  .editor__svg-fill {
    fill: #d22856;
  }

  .editor__svg {
    &--first {
      width: 22px;
      height: 22px;
    }

    &--second {
      width: 24px;
      height: 22px;
    }

    &--third {
      width: 16px;
      height: 16px;
    }
  }

  .editor__range-controls {
    margin-top: auto;
  }

  .editor__range-toggle {
    display: none;
  }

  .editor__list-edit {
    width: auto;
    align-items: flex-start;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .editor__item-button {
    display: flex;
    width: 275px;
    box-sizing: border-box;
    border-bottom: 1px solid #dddfe0;

    &:nth-child(1) {
      padding: 0 18px 24px 3px;
    }

    &:nth-child(2) {
      padding: 28px 18px 22px 3px;
    }

    &:nth-child(3) {
      padding: 26px 18px 27px 7px;
    }
  }

  .editor__image {
    width: 300px;
    height: 400px;
    margin: 0;
  }

  .editor__button-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: border-box;
    width: 300px;
    padding: 9px 0 0 26px;
  }

  .editor__label {
    line-height: 0;
  }

  .editor__post {
    margin-bottom: 22px;
  }

  .editor__button-link {
    margin: 0;

    .button-link {
      box-sizing: border-box;
      width: 260px;
      padding-left: 76px;
      padding-right: 84px;
    }
  }
}

@media @desktop {
  .editor {
    padding-left: 130px;
    padding-right: 130px;
  }

  .editor__item-button {
    width: 410px;

    &:nth-child(1) {
      padding: 0 18px 10px 0px;
    }

    &:nth-child(2) {
      padding: 16px 18px 12px 0px;
    }

    &:nth-child(3) {
      padding: 18px 18px 27px 6px;
    }
  }

  .editor__container {
    padding-left: 80px;
    padding-right: 60px;
  }

  .editor__button-container {
    width: auto;
    padding-top: 0;
  }

  .editor__post-container {
    display: flex;
    width: 410px;

    .button-link {
      width: 183px;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 0;
    }
  }

  .editor__post {
    margin-right: 44px;
  }

  .editor__svg {
    &--first {
      width: 44px;
      height: 44px;
    }

    &--second {
      width: 48px;
      height: 44px;
    }

    &--third {
      width: 32px;
      height: 32px;
    }
  }
}
