.fieldset {
  margin: 0;
  border: 0;
  &__field {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
  }
  &__label {
    display: block;
    margin-bottom: 15px;
    padding-left: 22px;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: normal;
    color: #d22856;
  }
  &__label--choice {
    text-transform: none;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    color: #283645;
  }
  &__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #d22856;
  }
  &__input {
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    color: #283645;
    border: 2px solid #e5e5e5;
    outline:none;
    &:hover {
      border: 2px solid #283645;
    }
    &:active,
    &:focus {
      border: 2px solid #d22856;
    }
  }
  &__input--area {
    resize: none;
  }
}
