.fieldset {
  &__label {
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
    color: #d22856;
  }
  &__label--choice {
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    color: #283645;
  }
  &__title {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #d22856;
  }
  &__input {
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    color: #283645;
    border: 2px solid #e5e5e5;
    outline:none;
    &:hover {
      border: 2px solid #283645;
    }
    &:active,
    &:focus {
      border: 2px solid #d22856;
    }
  }
  &__input--area {
    resize: none;
  }
}
