.form {
  text-align: left;
}

.form__modal-title {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.form__modal-text {
  line-height: 24px;
  font-weight: normal;
}

@media @tablet {
  .form form {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media @desktop {
  .form form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 130px;
    padding-left: 130px;
  }
}
