.form {
  &__modal-title {
    font-weight: bold;
    color: #000000;
    @media @mobile { & {
      font-size: 18px;
    }}
    @media @tablet { & {
      font-size: 30px;
      line-height: 40px;
    }}
    @media @desktop { & {
      font-size: 30px;
      line-height: 40px;
    }}
  }
  &modal-text {
    line-height: 24px;
    font-weight: normal;
    @media @tablet { & {
      font-size: 18px;
    }}
  }
  &__fieldset--choice {
    background-color: #f2f2f2;
  }
}
