.map {
  position: relative;
  width: 320px;
  height: 199px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .map {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }
}

@media @tablet {
  .map {
    width: 660px;
    height: 374px;
    background: url("../img/bg-map-tablet@1x.jpg");
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .map {
      background: url("../img/bg-map-tablet@2x.jpg");
    }
  }
}

@media @desktop {
  .map {
    width: 960px;
    height: 504px;
    background: url("../img/bg-map-tablet@1x.jpg");
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .map {
      background: url("../img/bg-map-desktop@2x.jpg");
    }
  }
}
