.map {
  position: relative;
  width: 320px;
  height: 199px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
}

@media @tablet {
  .map {
    width: 660px;
    height: 374px;
    background-color: red;
  }
}

@media @desktop {
  .map {
    width: 960px;
    height: 504px;
    background-color: red;
  }
}
