.navigation {
  display: none;
}

.navigation__list {
  .list-none;
}

.navigation__item {
  font-size: 18px;
  line-height: 32px;
  font-weight: normal;
  color: #ffffff;
}

.navigation__link {
  color: #ffffff;
}
