.navigation__ {
  &list {
    .list-none;
  }
  &item {
    @media @mobile and @tablet { & {
      font-size: 18px;
      line-height: 32px;
    }}
    @media @desktop { & {
      line-height: 18px;
    }}
    font-weight: normal;
    color: #ffffff;
  }
  &link {
    color: #ffffff;
  }
}
