.navigation__ {
  &list {
    .list-none;
  }
  &item {
    display: none; //Временно
    font-size: 18px;
    line-height: 32px;
    font-weight: normal;
    color: #ffffff;
  }
  &link {
    color: #ffffff;
  }
}
