.package {
  box-sizing: border-box; // Временно
  height: 470px;  // Временно
  position: relative;
  padding-top: 87px;
  background-color: #f2f2f2;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 320px;
    height: 35px;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position: 0px -70px;
  }
}

.package__header {
  display: block;
  width: 155px;
  padding-top: 16px;
  padding-bottom: 15px;
  text-align: center;
  color: #ffffff;
  background-color: #283645;
  border: 2px solid #f2f2f2;
}

.package__table {
  line-height: 30px;
  border-collapse: collapse;
}

.package__description {
  position: relative;
  padding: 24px 0px 24px 21px;
  font-weight: normal;
  text-align: left;
  border: 2px solid #e5e5e5;

  &--no::after {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 230px;
    display: block;
    width: 27px;
    height: 26px;
    background-image: url("../img/icon-no.svg");
    background-repeat: no-repeat;
  }

  &--yes::after {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 228px;
    display: block;
    width: 31px;
    height: 21px;
    background-image: url("../img/icon-yes.svg");
    background-repeat: no-repeat;
  }
}

.package__title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.package__price {
  font-weight: lighter;
  font-size: 24px;
}

@media @tablet {
  .package {
    box-sizing: border-box; //Временно
    height: 376px; //Временно
  }
}

@media @desktop {
  .package {
    box-sizing: border-box;
    height: 475px;
  }
}
