.package {
  background-color: #f2f2f2;
  &__header {
    background-color: #283645;
    color: #ffffff;
  }
  &__table {
    line-height: 30px;
    border-collapse: collapse;
  }
  &__header {
    border: 2px solid #f2f2f2;
  }
  &__description {
    font-weight: normal;
    border: 2px solid #e5e5e5;
    position: relative;
    &--no::after {
      content: '';
      display: block;
      background-image: url(../img/icon-no.svg);
      background-repeat: no-repeat;
      width: 27px;
      height: 26px;
      position: absolute;
    }
    &--yes::after {
      content: '';
      display: block;
      background-image: url(../img/icon-yes.svg);
      background-repeat: no-repeat;
      width: 31px;
      height: 21px;
      position: absolute;
    }
  }
  &__title {
    font-weight: bold;
    @media @mobile { & {
      font-size: 18px;
    }}
    @media @mobile { & {
      font-size: 16px;
    }}
  }
  &__price {
    font-weight: lighter;
    @media @mobile { & {
      font-size: 24px;
    }}
    @media @tablet { & {
      font-size: 18px;
    }}
    @media @desktop { & {
      font-size: 24px;
    }}
  }
}
