.page-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.page-header__svg-desktop,
.page-header__svg-tablet {
  display: none;
}

.page-header--main {
  min-height: 733px;
  background: url("../img/iphone-hand-mobile@1x.png") 0 435px no-repeat, url("../img/bg-back-mobile@1x.jpg") -190px 259px no-repeat;
  background-color: #2c3c4c;
}

.page-header--block {
  min-height: 237px;
  background: url("../img/bg-back-mobile@1x.jpg") 0 bottom no-repeat;
  background-color: #2c3c4c;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .page-header--main {
    background: url("../img/iphone-hand-mobile@2x.png") 0 435px no-repeat, url("../img/bg-back-mobile@2x.jpg") -190px 259px no-repeat;
    background-size: 258px auto, auto 462px;
  }

  .page-header--block {
    background: url("../img/bg-back-mobile@2x.jpg") no-repeat;
    background-size: 100px auto;
  }
}

.page-header__menu {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  box-sizing: border-box;
  background-color: #283645;
}

.page-header__toogle {
  margin-left: auto;
}

.page-header__background-title {
  width: 240px;
  margin: 0 auto;
  margin-top: 29px;
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  font-weight: lighter;
  color: #ffffff;
}

.page-header__background-title--photo {
  width: 180px;
}

.page-header__background-title--form {
  width: 234px;
}

.page-header__background--photo {
  padding-bottom: 83px;
}

.page-header__background--form {
  padding-bottom: 55px;
}

.page-header__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 21px 20px 12px;
}

@media @tablet {
  .page-header--block {
    min-height: 440px;
    background: #2c3c4c url("../img/bg-back-mobile@1x.jpg") -190px -10px no-repeat;
  }

  .page-header--main {
    min-height: 729px;
    background: url("../img/iphone-hand-tablet@1x.png") -19px 439px no-repeat, url("../img/bg-back-tablet@1x.jpg") center 259px no-repeat;
    background-size: 703px auto, auto 729px;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .page-header--main {
      background: url("../img/iphone-hand-tablet@2x.png") -19px 439px no-repeat, url("../img/bg-back-tablet@2x.jpg") center 259px no-repeat;
      background-size: 703px auto, auto 729px;
    }
  }

  .page-header__top {
    padding: 20px 20px 42px;
    border-bottom: 1px solid #000001;
  }

  .page-header__top--main {
    padding: 26px 16px 36px 22px;
  }

  .page-header__top--block {
    padding: 26px 20px 43px;
  }

  .page-header__svg-mobile {
    display: none;
  }

  .page-header__svg-tablet {
    display: inline-block;
  }

  .page-header__background-title--form {
    width: 486px;
  }

  .page-header__background-title {
    margin: 0 auto;
    margin-top: 71px;
    font-size: 50px;
    line-height: 58px;
  }

  .page-header__background--photo {
    padding-bottom: 142px;
  }

  .page-header__background--form {
    padding-bottom: 84px;
  }

  .page-header__background-title--photo {
    width: 390px;
  }
}

@media @desktop {
  .page-header__svg-tablet {
    display: none;
  }

  .page-header__svg-desktop {
    display: inline-block;
  }

  .page-header__top {
    width: auto;
    padding: 27px 0 35px;
  }

  .page-header__background--photo {
    padding-bottom: 83px;
  }

  .page-header__background-title {
    font-size: 50px;
    line-height: 60px;
    text-align: center;
  }

  .page-header--block {
    min-height: 394px;
  }

  .page-header--main {
    min-height: 853px;
    background: url("../img/iphone-hand-desktop@1x.png") 26px bottom no-repeat, url("../img/bg-back-desktop@1x.jpg") center 0px no-repeat;
    background-size: 1049px auto, auto 853px
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .page-header--main {
      background: url("../img/iphone-hand-desktop@2x.png") 26px bottom no-repeat, url("../img/bg-back-desktop@2x.jpg") center 0px no-repeat;
      background-size: 1049px auto, auto 853px;
    }
  }

  .page-header__menu {
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    background: rgba(0, 0, 0, 0.4);
  }

  .page-header__background-title--photo {
    width: 390px;
    margin-top: 63px;
  }

  .page-header__background-title--form {
    width: 770px;
    margin-top: 64px;
  }
}
