.reviews__ {
  &list {
    .list-none;
  }
  &text {
    margin: 0;
    @media @mobile { & {
      line-height: 30px;
    }}
    @media @tablet { & {
      font-size: 18px;
      line-height: 30px;
    }}
  }
}
