.study {
  display: none;
}

@media @tablet {
  .study__text {
    margin: 0;
    font-weight: normal;
    margin-bottom: 9px;
  }

  .study__link {
    line-height: 17px;
    color: #d22856;
    border-bottom: 1px solid #d22856;
  }

  .study__title {
    margin: 0;
  }

  .study {
    display: block;
    padding: 96px 20px 96px 329px;
    text-align: left;
    background: url("../img/icon-timer.svg") 24px 59px no-repeat;
    background-size: 238px auto;
  }

  .study__container {
    width: 310px;
    text-align: left;
  }

  .study__title {
    width: 190px;
    margin-bottom: 11px;
    font-size: 30px;
    line-height: 36px;
  }
}

@media @desktop {
  .study {
    padding: 80px 10px 113px 377px;
    background-color: #f2f2f2;
  }

  .study__container {
    width: 576px;
  }

  .study__title {
    width: 310px;
    margin: 0;
  }

  .study__text {
    margin-top: 23px;
    margin-bottom: 30px;
    padding-right: 40px;
    font-size: 18px;
    line-height: 30px;
  }

  .study__link {
    font-size: 18px;
    line-height: 30px;
  }
}
