.study {
  display: none;
}

.study__text {
  margin: 0;
  font-weight: normal;
  margin-bottom: 9px;
}

.study__hidden {
  display: none;
}

.study__link {
  line-height: 17px;
  color: #d22856;
  border-bottom: 1px solid #d22856;
}

.study__title {
  margin: 0;
}

@media @tablet {
  .study {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;

  &::before {
    content: "";
    display: block;
    width: 310px;
    min-height: 335px;    //Временно
    background-color: red; //Временно
    }
  }

  .study__hidden {
    display: block;
  }

  .study__container {
    width: 310px;
    text-align: left;
    padding-top: 96px;
  }

  .study__title {
    width: 190px;
    margin-bottom: 11px;
    font-size: 30px;
    line-height: 36px;
  }
}

@media @desktop {
  .study {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 34px 130px 77px 130px;
    background-color: #f2f2f2;

  &::before {
    content: "";
    display: block;
    width: 310px;
    min-height: 335px;    //Временно
    background-color: red; //Временно
    }
  }

  .study__container {
    width: 576px;
    padding-top: 96px;
    text-align: left;
  }

  .study__text {
    margin-top: 23px;
    margin-bottom: 30px;
    padding-right: 40px;
    font-size: 18px;
    line-height: 30px;
  }

  .study__link {
    font-size: 18px;
    line-height: 30px;
  }
}
